@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="error-text">
    <h1 class="text-danger">Whoops.</h1>
    <h2 class="text-danger">Something horrible happened! Don't worry, Sherrorlock is on the case.</h2>
</div>


<div class="sherrorlock">
    <img src="/images/sherrorlock.png" alt="Error Image" class="sherrorlock-image">
</div>

<p class="redirect-home"> Click&nbsp;<a href="/home/index">here</a>&nbsp;to return back to the home page.</p>
