@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Nemesys</h1>
    <h2 class="display-7">The world's #1 snitch app'</h2>
    <a class="btn btn-primary" href="/reports/create">Create a Report</a>

</div>
