@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="privacy-header">@ViewData["Title"]</h1>

<p class="text-center">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed leo et mauris finibus blandit sit amet sit amet nulla. Nulla efficitur vitae urna id tincidunt. Aenean ac facilisis urna. Pellentesque viverra elit in justo tristique, sed mattis urna aliquet. Nunc et dignissim justo, vitae varius purus. Etiam sed aliquet neque, at fringilla dui. Suspendisse vitae tincidunt metus. Etiam id dolor sem.


    <br><br> Curabitur congue velit nisl, eget sodales sapien rutrum vitae. Cras massa elit, commodo ut lorem sed, tincidunt mattis arcu. Phasellus malesuada dui ullamcorper interdum tempor. Morbi semper malesuada dui, eget tristique nisi lacinia at. Etiam rutrum pulvinar finibus. Sed scelerisque libero id turpis cursus malesuada. Phasellus tincidunt ex id fermentum interdum. Aliquam porta facilisis libero, et feugiat purus finibus id. Vivamus fringilla lacus nisl, eu tempor eros auctor id. Pellentesque consectetur quam at venenatis malesuada. Maecenas euismod porta tellus. Nullam dignissim imperdiet urna sed cursus. Proin suscipit orci at elit molestie mollis non nec ligula.

    
    <br><br> Integer congue purus commodo magna lacinia, placerat facilisis elit eleifend. Integer a velit cursus, mattis nibh eu, dapibus libero. Cras lobortis leo sed purus malesuada dictum. Duis dignissim felis pellentesque, venenatis augue eget, tincidunt massa. Vivamus sollicitudin velit ac nunc tincidunt vulputate. Ut vehicula erat vel augue molestie, sit amet ultrices metus sagittis. Sed auctor commodo felis. Nulla blandit ligula lobortis sapien bibendum, sit amet vulputate magna viverra.

    Etiam iaculis accumsan ultrices. Quisque iaculis suscipit ultrices. Aenean pharetra, mi sit amet eleifend hendrerit, nulla neque hendrerit metus, eu ornare enim nulla nec nibh. Etiam nisl urna, bibendum quis justo lacinia, pharetra ullamcorper tortor. Sed semper sem ut tellus lobortis, sit amet malesuada mauris pellentesque. Sed ut dui quis lectus luctus consequat. Suspendisse eget elementum arcu, ultricies mattis tellus. Maecenas condimentum nibh erat, nec volutpat nunc faucibus at. Suspendisse et dolor non leo consectetur laoreet sit amet nec nulla. Integer porta ornare dui id cursus. Praesent a ultricies diam. Etiam vel rutrum ligula. Vestibulum nec quam porttitor, faucibus arcu quis, consequat arcu.

    
    <br><br> Phasellus gravida, tellus a dapibus ornare, tortor justo tempus nulla, eget iaculis dui mi vel lacus. Vestibulum at gravida ante. Vestibulum est nisi, dictum sit amet convallis vehicula, dignissim sed diam. Nulla mollis mi sit amet eros eleifend dapibus in et magna. Duis eget neque augue. Ut euismod facilisis arcu, aliquam ornare elit sagittis eget. Sed viverra, lectus sed elementum ultricies, lacus odio fermentum enim, nec lobortis tortor turpis quis dolor. Phasellus non neque a odio molestie feugiat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce justo lorem, molestie in venenatis nec, congue vel magna. Nulla a nulla et risus tempor porttitor. Pellentesque in ipsum massa. Aliquam ut nisl sed mi varius porta. Nunc dignissim metus purus, sed bibendum eros dapibus sed.
</p>
