@model HallOfFameViewModel

@{
    ViewData["Title"] = "Top 3 Reporters";
}

<h1 class="report-headers">@ViewData["Title"]</h1>

<div class="row">

    <table class="reports-table">
        <tr>
            <th>Name</th>
            <th>Reports</th>
        </tr>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.User.UserName</td>
                <td>@user.ReportCount</td>
            </tr>
        }
    </table>

</div>