    /* global css */
    html {
        position: relative;
        min-height: 100%;
        background: #0A1828;
        width: 100%;
        font-size: 16px;
    }

    body {
        margin-bottom: 60px;
        background: #0A1828;
        color: #BFA181;
    }

    .navbar {
        background-color: #0A1828 !important;
        border-bottom-color: #BFA181 !important;
        user-select: none;
    }

    .nav-link {
        color: #178582 !important;
        font-size: 1.2vw;
        margin-left: 1vw;
    }

    .navbar-brand {
        color: #178582 !important;
        font-size: 2vw;
    }

    .container {
        color: #178582 !important;
    }

    .logo {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .nav-logo {
        width: 6vw;
        height: 6vw;
        display: block;
        margin: auto;
    }

    .footer {
        border-top-color: #BFA181 !important;
        display: flex !important;
        text-align: center !important;
    }

    /* Home Page*/
    .display-1 {
        font-size: 4vw;
    }

    .display-7 {
        font-style: italic;
        font-size: 2vw;
    }

    /* Page content */
    .text-center {
        color: #BFA181;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.8vw;
        line-height: 1.4;
    }

    /* Reports and Hall of Fame */
    .reports-table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        font-size: 1.2vw;
        width: 100%;
        user-select: none;
    }

    .image-center {
        justify-content: center;
        align-items: center;
    }

    .details-image {
        width: 1vw;
        display: block;
        margin: auto;
    }

    .reports-table td, .reports-table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .reports-table tr:nth-child(even) {
        background-color: #178582;
        color: #0A1828;
    }

    .reports-table tr:hover {
        background-color: #ddd;
    }

    .reports-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background: #0A1828;
        color: #BFA181;
    }

    .report-title {
        font-size: 2vw;
    }

    .category {
        font-style: italic;
    }


    .title-link {
        text-decoration: none;
        color: inherit;
    }

    .title-link:hover {
        text-decoration: underline;
    }

    .report-column {
        max-width: 15vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 3vw;
    }

    .upvote {
        width: 1.1vw;
        height: 1.5vw;
    }

    /* Filters */
    .accordion{
        padding-bottom:1em;
    }

    .accordion-button {
        background-color: #0A1828 !important;
        color: #BFA181 !important;
        font-size: 1em;
    }

    .filter-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        color: #BFA181;
        background-color: #178582 !important;
        font-size: 2em;
        text-align:center;
        font-weight:bold;
    }

    .filter-container .form-group {
        flex: 1 0 200px; 
    }

    .collapse-show {
        background-color: #178582 !important;
    }

    .filter-submit {
        background-color: #178582 !important;
    }


    /* Buttons */
    .btn-primary {
        width: auto;
        height: auto;
        font-size: 1vw;
    }

    .btn-secondary {
        width: auto;
        height: auto;
        font-size: 1vw;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
    }

    /* Details Page */
    .row {
        font-size: 1vw;
        margin: 20px 0;
    }

    dt {
        margin: 15px 0;
    }

    /* Create Report Page */
    .form-group > textarea {
        height: 7vw;
        max-height: 14vw;
        width: 30vw;
    }

    .form-group {
        width: 20vw;
    }

    #title {
        width: 15vw;
    }

    .form-control {
        font-size: 1vw;
        background-color: #0A1828 !important;
        color: #178582 !important;
        border-color: #BFA181 !important;
        font-size: 1.2vw;
    }

    .category-picker {
        font-size: 1.3vw;
        background-color: #0A1828 !important;
        color: #178582 !important;
        border-color: #BFA181 !important;
    }

    .date-picker .form-control {
        width: 12vw;
    }

    .control-label {
        color: #BFA181;
        padding-top:0.5vw;
        font-size:0.8vw;
    }

    .requiredMarker {
        color: red;
    }

    .pagination{
        float:right;
    }

