html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    background: #0A1828;
}

body {
    margin-bottom: 60px;
    background: #0A1828;
    color: #BFA181;
}

.text-center {
    color: #BFA181;
}


.navbar {
    background-color: #0A1828 !important;
}
.nav-link {
    color: #178582 !important;
}
.navbar-brand {
    color: #178582 !important;
}
.container {
    color: #178582 !important;
}